<h1>$result</h1>

<p>Player 1 move: $player1Move</p>
<p>Player 2 move: $player2Move</p>

<button class="btn-danger" onclick="goBack()">Play Again!</button>

<script>
function goBack() {
    window.history.back();
}
</script>
